<div class="holder">
    <img src="../../../assets/Papl.jpg" alt="Logo" class="MainLogo" />
    
    
    <div id="content" #content>
        <p class="form-submit-heading">{{language === 'english' ? 'Your form has been submitted..!!' : 'आपका फॉर्म जमा कर दिया गया है..!!'}}</p>
        <p id="message">{{value2.message}}</p>
        <p id="message1">{{value2.message1}}</p>
       
        <table >
            <tr>
            <th >Number Of Scan</th>
            <th>Total Cashback</th>
            <th>Per Case</th>
            
                
            </tr>
            
            <tr *ngFor="let item of value2.value"> 
               
                <td  >{{item.numberOfScan}}</td>
                <td >{{item.cashback}}</td>
                <td >{{item.perCase}}</td>

            </tr> 
            
        </table>
        
    </div>     
    <img class="buttom" src="/assets/BottomImage.png" alt="">
    <h1 id="my-canvas" class="PAPL-Heading">Premier Alcobev Pvt. Ltd.</h1>
    
    
</div>