<div class="holder">
    <img src="../../../assets/Papl.jpg" alt="Logo" class="MainLogo" />
    <div class="lang">
      <p class="english" (click)="changeLang('english')">English</p>
      <p class="hindi" (click)="changeLang('hindi')">हिंदी</p>
    </div>
    <form [formGroup]="PaplFormGroup" (ngSubmit)="submitForm(PaplFormGroup.value)">
      <div class="form-row">
        <div class="form-input">
          <mat-form-field appearance="fill" >
            <mat-label>{{language === 'english' ? 'Select Area' : 'क्षेत्र का चयन करें'}}</mat-label>
            <mat-select [formControl]="areaCtrl"   placeholder="Search Area"  #singleSelect>
              <mat-option >
                <ngx-mat-select-search [formControl]="areaFilterCtrl" 
                placeholderLabel="Find area..." 
                i18n-placeholderLabel
                noEntriesFoundLabel="'no matching area found'"
                i18n-noEntriesFoundLabel ></ngx-mat-select-search>
              </mat-option>
              <mat-option (click)="pushOutlets()" [value]="area" *ngFor="let area of filteredAreas | async" >{{area.areaName}}</mat-option>
                          
            </mat-select>
          </mat-form-field>
          
         
         
        </div>
        <div class="form-input">
          <mat-form-field appearance="fill">
            <mat-label>{{language === 'english' ? 'Select Outlet' : 'आउटलेट का चयन करें'}}</mat-label>
           
           
            <mat-select [formControl]="outletCtrl"   placeholder="Search Outlet"  >
              <mat-option >
                <ngx-mat-select-search [formControl]="outletFilterCtrl" 
                placeholderLabel="Find outlet..." 
                i18n-placeholderLabel
                noEntriesFoundLabel="'no matching outlet found'"
                i18n-noEntriesFoundLabel ></ngx-mat-select-search>
              </mat-option>
              <mat-option  [value]="Outlet" *ngFor="let outlet of filteredOutlets | async" >{{outlet.outletName}}</mat-option>
                          
            </mat-select>


          </mat-form-field>
          


        </div>
      </div>
      <div class="form-row">
        <div class="form-input">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{language === 'english' ? 'Phone No.' : 'फ़ोन नंबर'}}</mat-label>
            <input type="email" matInput errorState="true" maxlength=10 formControlName="phoneNumber">
          </mat-form-field>
        </div>
        <div class="form-input"></div>
      </div>
      <div class="form-row-btn">
        <button i18n >{{language === 'english' ? 'Submit' : 'भेजें'}}</button>
      </div>
    </form>
    <h1 class="PAPL-Heading">Premier Alcobev Pvt. Ltd.</h1>

    <!-- <h2  >button</h2> -->
    
  </div>